/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@media (max-width: 500px) {
  width: 100%;
}
html,
body {
  height: 100%;
  background: black;
}
.container {
  font-family: 'Poppins', sans-serif;
}
.container h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: teal;
  border-radius: 25px;
  padding: 25px;
  margin: 25px;
}
@media (max-width: 500px) {
  .container h1 {
    background: blueviolet;
    font-size: 25px;
  }
}
.my-work {
  background-color: teal;
  border-radius: 25px;
  padding: 15px;
  margin: 25px;
}
@media (max-width: 500px) {
  .my-work {
    background: blueviolet;
  }
}
.my-work .summary {
  width: 100%;
}
.my-work .experience {
  width: 100%;
}
.my-work .education {
  width: 100%;
}
.my-work h4 {
  color: darkslategray;
}
@media (max-width: 500px) {
  .my-work h4 {
    color: cadetblue;
  }
}
h3 {
  background-color: teal;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
.navbar a {
  background-color: teal;
  border-radius: 25px;
  padding: 20px;
  text-decoration: none;
  color: black;
  width: 115px;
  text-align: center;
}
@media (max-width: 500px) {
  .navbar a {
    background: blueviolet;
    margin: 15px;
  }
}
a:hover {
  background-color: blueviolet;
}
@media (max-width: 500px) {
  a:hover {
    background-color: teal;
  }
}
.all {
  background-color: teal;
  border-radius: 25px;
  padding: 15px;
  margin: 25px;
}
@media (max-width: 500px) {
  .all {
    background: blueviolet;
  }
}
.all .summary {
  width: 100%;
}
.all .experience {
  width: 100%;
}
.all .education {
  width: 100%;
}
.all h4 {
  color: darkslategray;
}
@media (max-width: 500px) {
  .all h4 {
    color: cadetblue;
  }
}
.contact {
  display: flex;
  padding: 25px;
  background: teal;
  margin: 25px;
  border-radius: 25px;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .contact {
    background: blueviolet;
    flex-direction: column;
  }
}
